.team-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 40px 20px 20px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  z-index: 10;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(.team-hidden) {
    opacity: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
    border-radius: 20px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__subitem {
    position: relative;
    overflow: hidden;
    display: flex;
    width: calc((100% - 30px) / 3);
    height: 100%;
    background-color: rgba(255, 0, 0, 0.36);

    &:not(.team__subitem--central__top) {
      outline: 3px solid rgba(234, 19, 19, 0.4);
    }

    &--central__top {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-left: 40px;
      margin-right: 40px;
      transform: translateY(50px);
      outline: gold;
      transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;

      &:hover,
      &:focus {
        outline: 30px solid rgba(255, 217, 0, 0.415);
        transform: scale(1.2) translateY(20px);
      }

      &:hover > .team__photoExit,
      &:focus > .team__photoExit {
        opacity: 1;
      }
    }

    &--central__bottom {
      border-radius: 50% 50% 40px 40px;
      margin-left: 10px;
      margin-right: 10px;
    }

    &--straight {
      border-radius: 5% 50% 5% 50%;
    }

    &--reverse {
      border-radius: 50% 5% 50% 5%;
    }
  }

  &__photo01 {
    background-image: url(../images/team_opt/Yaroslav_opt.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__photo02 {
    background-image: url(../images/team_opt/Maksym_opt.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__photoExit {
    opacity: 0;
    outline: rgba(255, 255, 0, 0.032);
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-image: url(../images/team_opt/Darina_opt.jpg);
    background-position: center;
    background-size: cover;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__photo03 {
    background-image: url(../images/team_opt/Renat_opt.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__photo04 {
    background-image: url(../images/team_opt/Vita_opt.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__description {
    font: inherit;
    font-size: large;
    color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
  }

  &__description {
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 30%;
    position: absolute;
    color: #f7f7f7;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    background-color: rgba(255, 255, 255, 0.167);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    top: 92%;
    left: 62%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 30% 30% 0 0;
  }
}

.team__subitem.team__subitem--reverse.team__photo02 > .team__description,
.team__subitem.team__subitem--reverse.team__photo03 > .team__description {
  left: 38%;
}

.team__subitem.team__subitem--central__bottom.team__photo04
  > .team__description {
  left: 50%;
}

// .team__subitem.team__photo01 {
//   transform-origin: top left;
//   transform: rotate(-45deg);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .team:not(.team-hidden) .team__subitem.team__photo01 {
//   background-color: red;
//   transform: rotate(-45deg);
// }
