<section class="team team-hidden">
    <div class="team__container">
        <div class="team__item">
            <div class="team__subitem team__subitem--straight team__photo01">
                <!-- <p class="team__description">Yaroslav Drohoziuk | Scrum Master</p> -->
            </div>
            <div class="team__subitem team__subitem--central__top">
                <div class="team__photoExit"></div>
            </div>
            <div class="team__subitem team__subitem--reverse team__photo02">
                <!-- <img src="" alt="Maksym Shostak, developer" class="team__photo">
                <p></p> -->
            </div>
        </div>
        <div class="team__item">
            <div class="team__subitem team__subitem--reverse team__photo03">
                <!-- <img src="" alt="Renat Veliev, developer" class="team__photo">
                <p></p> -->
            </div>
            <div class="team__subitem team__subitem--central__bottom team__photo04">
                <!-- <img src="" alt="Vita Koval, Team Lead" class="team__photo">
                <p></p> -->
            </div>
            <div class="team__subitem team__subitem--straight team__photo05">
                <!-- <img src="" alt="Artem Sedlyar, developer" class="team__photo">
                <p></p> -->
            </div>
        </div>
    </div>
</section>