<section class="team team-hidden">
    <div class="team__container">
        <div class="team__item">
            <div id="photo-01" class="team__subitem team__subitem--straight team__photo01">
                <div class="team__description">Ярослав Дрогозюк<br>Позиція: Scrum Master</div>
            </div>
            <div class="team__subitem team__subitem--central__top">
                <div class="team__photoExit"></div>
            </div>
            <div id="photo-02" class="team__subitem team__subitem--reverse team__photo02">
                <div class="team__description">Максим Шостак<br>Позиція: pro Developer</div>
            </div>
        </div>
        <div class="team__item team__item--up">
            <div id="photo-03" class="team__subitem team__subitem--reverse team__photo03">
                <div class="team__description">Ренат Велієв<br>Позиція: pro Developer</div>
            </div>
            <div id="photo-04" class="team__subitem team__subitem--central__bottom team__photo04">
                <div class="team__description">Віта Коваль<br>Позиція: Team Lead</div>
            </div>
            <div id="photo-05" class="team__subitem team__subitem--straight team__photo05">
                <div class="team__description">Артем Седляр<br>Позиція: pro Developer</div>
            </div>
        </div>
    </div>
</section>