<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__btn-close" data-modal-close>
      X
      <!-- <svg width="14" height="14" class="icon-close">
        <use href="./images/sprite-svg.svg#icon-close"></use>
      </svg> -->
    </button>
    <div class="modal__contents"></div>
    <div class="modal__btn">
      <button type="button" class="modal__btn-watched">add to Watched</button>
      <button type="button" class="modal__btn-queue">add to queue</button>
    </div>
  </div>
</div>
