<section class="gallery">
  <h1 class="gallery__title visually-hidden">
    Filmoteka Gallery:movie gallery
  </h1>
  <div id="loader" class=""></div>
  <div class="gallery__container">
    <ul class="gallery__list">
      <!-- <li class="gallery__item">
        <img class="movie__poster" src="https://kinovezha.com/posters/638.jpg" alt="movie poster" />
        <h2 class="movie__name">GREYHOUND</h2>
        <p class="movie__description">
          Drama, Action | 2020
          <span class="movie__rating visually-hidden">8.0</span>
        </p>
      </li> -->
    </ul>
    <div id="pagination" class="tui-pagination visually-hidden"></div>
  </div>
</section>